.App {
  row-gap: 5px;
}

.gallery {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 5px;
  margin: 5px;
}

img {
  border-radius: 15px;
  border: solid 3px black;
  height: 100px;
  width: 200px;
}

.navbar {
  background-color: black;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  color: red;
  font-size: xx-large;
  margin: 2px 20px 2px 2px;
  padding: 10px;
}

SearchBar {
padding-left: 20px;
}
